html, body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(32, 20px);
    grid-template-rows: repeat(32, 20px);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    box-sizing: border-box;
    background-color: black;
}

.cell.black {
    background-color: white;
}